*{
    font-family: cursive;
}

body{
    margin: 0;
    font-size: 35px;
}

.title{
    font-weight: normal;
    text-align: center;
    margin-top: 0;
}

.content-wrapper{
    width: 70%;
    margin: 100px auto;
    background-color: #f0f0f0;
    border: 5px black solid;
    border-radius: 20px;
    padding: 30px 30px;
}

.form-elem{
    width: 450px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-form{
    width: 50%;
    margin: 10px auto;
    background-color: chartreuse;
    border-color: darkgreen;
}

.form-select, .btn-form{
    font-size: 30px;
    border-radius: 8px;
    border-width: 3px;
}

.form-select:hover{
    cursor: pointer;
    background-color: lightgray;
}

.btn-form:hover{
    cursor: pointer;
    background-color: greenyellow;
}

.hide {
    display: none;
}

#overlay{
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height:100%;
    background: rgba(0,0,0,0.6);
}
.cv-spinner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spinner {
    width: 40px;
    height: 40px;
    border: 4px #ddd solid;
    border-top: 4px #000000 solid;
    border-radius: 50%;
    animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
    100% {
        transform: rotate(360deg);
    }
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 4px solid black;
    text-align: center;
}